body{
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'norse';
    src: url(./Norse-Bold.otf);
}

.largeFont{
    font-size: 25px;
}

.flexContainer{
    display: flex;
    flex-shrink: 0;
}

input{
    border: 1px solid rgb(61, 124, 206);
    border-radius: 5px;
}

input:focus{
    outline: none;
    box-shadow: 2px 2px 7px  grey;   
}

input:invalid{
    border: 1px solid red;
}

#image{
    background-image: url(./sjoukje-bos-RMQKJCHhWBg-unsplash.jpg);
    background-size: cover;
    height: 1000px;
    width:600px;
    min-width: 600px;
    
    
}

#side-logo{
    position: relative;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 80px;
    padding: 20px;
    color: white;
    font-family: 'norse';
    
}


#side-logo>img{
    height:150px;
}


#side-image-credit{
    position: relative;
    bottom: 0%;
    display: flex;
    justify-content: center;
    margin-top: 750px;
    margin-bottom: 0%;
    color: white;
}

#side-image-credit>a{
    color: white;
}

#content{
    margin-top: 150px;
    margin-left: 70px;
}